body, * {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.hidden {
    display: none;
}

input:focus {
    outline: none;
}



/* Main Screen */

.main-screen {
    background-color: #f1f1f1;
    height: 100vh;
    width: 100vw;

    position: absolute;
    top: 0;
    left: 0;
}

header {

    height: 80px;
    width: 100%;

    padding-left: 22px;
    padding-right: 22px;

    background-color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 42px;

    position: sticky;

    box-shadow: 0 4px 6px rgba(0,0,0,0.05);

    z-index: 5;
}

header img {
    width: 75px;
}

header ion-icon:hover {
    cursor: pointer;
}


.messages {
    width: 100%;
    height: calc(100% - 160px);
    overflow-y: scroll;

    padding: 26px 0 26px 0;

    top: 80px;
}

.message {
    font-size: 14px;
    line-height: 20px;

    margin-bottom: 4px;

    border-radius: 2px;
    padding: 12px 8px;

    background-color: white;
}
.private {
    background-color: #FFDEDE;
    ;
}
.status {
    background-color: #DCDCDC;
}
.msg-time {
    color: #aaaaaa;
}
.msg-user {
    font-weight: 700;
}

footer {
    position: absolute;
    background-color: white;

    bottom: 0px;
    right: 0px;
    left: 0px;

    height: 80px;
    width: 100%;

    padding-left: 18px;
    padding-right: 18px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-shadow: 0 -4px 6px rgba(0,0,0,0.05);

    z-index: 5;
}

footer .left {
    flex: 1 0 auto;
    margin-right: 20px;
}

footer ion-icon {
    font-size: 26px;
}
footer ion-icon:hover {
    cursor: pointer;
}

.msgInput {
    color: black;
    font-size: 18px;
    border: none;
    width: 100%;
}

.msgInput::placeholder {
    color: black;
    font-size: 18px;
    font-style: italic;
}




/* Menu Screen */

.menu-screen {
    width: 100vw;
    height: 100vh;

    top: 0px;
    left: 0px;

    position: relative;
    z-index: 15;
}
.cover {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}

.hidden > .cover {
    background-color: rgba(0,0,0,0.0);
}

.menu-screen > nav {
    background-color: white;
    height: 100%;
    overflow-y: scroll;
    max-width: 300px;
    width: calc(100% - 116px);
    position: absolute;
    right: 0px;
}

.menu-screen > nav.hide-nav {
    right: -100%;
}

nav > h3 {
    padding: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}


.menu-option {
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    margin: 0px 5px;

    border-radius: 5px;
}

.menu-option:hover {
    background-color: rgb(238, 238, 238);
    cursor: pointer;
}

.menu-option > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-option > div > ion-icon {
    font-size: 24px;
    margin-right: 10px;
}

.menu-option > ion-icon {
    color: #28BB25;
    display: none;
}

.menu-option.selected > ion-icon {
    display: block;
}



/* Entry Screen */

.entry-screen {
    background-color: white;
    height: 100vh;
    width: 100vw;

    position: absolute;
    top: 0;
    left: 0;

    z-index: 15;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content:start;
}
.entry-screen.hidden {
    display: none;
}

.entry-screen * {
    font-size: 18px;
}

.entry-screen > img {
    width: 130px;
    margin-top: 72px;
    margin-bottom: 94px;
}
.entry-screen > input {
    width: 260px;
    height: 54px;
    border-radius: 4px;
    border: 1px solid #D7D7D7;
    text-align: center;
}

.entry-screen > button {
    width: 109px;
    height: 45px;
    border-radius: 9px;
    border: none;
    margin-top: 15px;

    background-color: blueviolet;
    color: white;
}

.entry-screen > button:disabled {
    background-color: #E7E7E7;
    color: #696969;
}

.entry-screen > p {
    margin-top: 15px;
    color: red;
    text-align: center;
}



.seeLast-button {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #28BB25;
    color: #FFF;
    z-index: 10;
    border-radius: 50px;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 24px;

    bottom: 100px;
    right: 20px;

    box-shadow: 0 5px 10px rgba(0,0,0, 0.1);
    cursor:pointer;
}

.seeLast-button.show {
    display: flex;
}

.msgConfig {
    margin-bottom: 5px;
    font-size: 12px;
    color: grey;
}

strong {
    font-weight: 700;
}